- block ||= page_form

.page-files
  / This serves as a template for new files.
  .page-file{ id: "page_file_#{block.tag.identifier}", style: 'display: none;'}
    = link_to '#', target: '_blank', class: 'thumbnail' do
      = image_tag 'comfortable_mexican_sofa/icon_page.gif'
    .file-label file.label
    %br
    = link_to 'Change', '#', class: 'cms-files-open btn btn-default btn-xs', data: { mode: 'select', field_name: fieldname, on_select: 'selectCMSPageFile' }
    = link_to 'Delete', '#', class: 'cms-page-file-delete btn btn-danger btn-xs', data: { field_name: fieldname, ask: t('.are_you_sure', default: 'Are you sure?') }

  - if (files = block.tag.content).present?
    - (files.respond_to?(:each) ? files : [files]).each do |file|
      .page-file{id: "page_file_#{block.tag.identifier}_#{file.id}"}
        = link_to file.file.url, target: '_blank', class: 'thumbnail' do
          - if file.is_image?
            = image_tag file.file.url(:cms_thumb)
          - else
            = image_tag 'comfortable_mexican_sofa/icon_page.gif'
        .file-label= file.label
        %br
        = link_to 'Change', '#', class: 'cms-files-open btn btn-default btn-xs', data: { mode: 'select', field_name: fieldname, on_select: 'selectCMSPageFile' }
        = link_to 'Delete', '#', class: 'cms-page-file-delete btn btn-danger btn-xs', data: { field_name: fieldname, ask: t('.are_you_sure', default: 'Are you sure?') }

  = link_to 'Select', '#', class: 'cms-files-open btn btn-default', style: "display: #{files.present? ? 'none' : 'inline-block'};", data: { mode: 'select', field_name: fieldname, on_select: 'selectCMSPageFile' }
